<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>failed</title>
</head>
<body>
    <h1>エラーが発生しました</h1>
    <p>入力内容を確認してください。</p>
    <p><a href=<% @ip_index %>>戻る</a></p>
</body>
</html>